body, html {
    height: 100%;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
}

.login-form-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #1e1e1e;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255,255,255,0.1);
    width: 320px;
}

.form-label, label {
    margin-bottom: 0;
    padding-top: 7px;
    text-align: right;
    color: #ffffff;
}

.btn-login {
    position: absolute;
    right: 40px;
}

.register-link {
    margin-right: 100px;
    color: #00bcd4;
}
